<ol class="sortable" id="sortable_1">
			<?php foreach($photos as $photo): ?>
			<li id="photo_<?php echo $photo['Photo']['id']; ?>">
			<a href="/admin/photos/delete/<?php echo $photo['Photo']['id']; ?>" class="sortableDelete" id="link<?php echo $photo['Photo']['id']; ?>"><img src="/assets/admin/icon_delete.png" /></a>
			<div><img src="<?php echo $photo['Photo']['image_thumb']; ?>" style="width: 75px" /></div></li>
			<?php endforeach; ?>
		</ol>
<script>initSortables()</script>