<?php echo $this->Form->input('Post.post_category_id',array('options'=>$post_categories,'before'=>'<li id="postCategories">','after'=>' <a href="/admin/post_categories/add" id="styled_window_one" title="Add Post Category">add category</a></li>','div'=>false)); ?>