

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Ordering / Sortable
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.container-fluid, .container {
	margin: 0px auto;
}
.col1 {
	width: 6.6666666666667%;
}
.col2 {
	width: 15%;
}
.col3 {
	width: 23.333333333333%;
}
.col4 {
	width: 31.666666666667%;
}
.col5 {
	width: 40%;
}
.col6 {
	width: 48.333333333333%;
}
.col7 {
	width: 56.666666666667%;
}
.col8 {
	width: 65%;
}
.col9 {
	width: 73.333333333333%;
}
.col10 {
	width: 81.666666666667%;
}
.col11 {
	width: 90%;
}
.col12 {
	width: 98.333333333333%;
}
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
	margin-left: 0.83333333333333%;
	margin-right: 0.83333333333333%;
	float: left;
	display: block;
}
.container, .container-large {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	box-sizing: border-box;
}



@media (max-width: 767px) {
	.col1,  .col2,  .col3,  .col4,  .col5,  .col6,  .col7,  .col8,  .col9,  .col10,  .col11,  .col12 {
		width: 100%;
		margin: 0px 0px 20px 0;
		float: none;
	}
}


.container {
	width: 90%;
}
	

.login-screen .container{
	max-width: 400px;
}


.example-grid{
	background: #ccc;
}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */





html {
	font-size: 62.5%;
}
body {
	font-size: 1.4em; /* currently ems cause chrome bug misinterpreting rems on body element */
	line-height: 1.4;
	font-weight: 400;
	font-family:  'Montserrat', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
}
/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-top: 0;
	margin-bottom: 2.5rem;
	font-weight: 700;
	color: #b88400;
}
h1 {
	font-size: 3.0rem;
	line-height: 1.2;
}
h2 {
	font-size: 2.6rem;
	line-height: 1.25;
}
h3 {
	font-size: 2.0rem;
	line-height: 1.3;
	color: #333;
}
h4 {
	font-size: 1.8rem;
	line-height: 1.35;
	margin-bottom: 1.5rem;
	color: #000;
}
h5 {
	font-size: 1.8rem;
	line-height: 1.5;
}
h6 {
	font-size: 1.5rem;
	line-height: 1.6;
	letter-spacing: 0;
}



@media (max-width: 767px){
	h1 {
		font-size: 3.0rem;
		line-height: 1.2;
	}
	h2 {
		font-size: 3rem;
		line-height: 1.25;
	}
	h3 {
		font-size: 3.0rem;
		line-height: 1.3;
	}
	p{
		margin-bottom: 1rem;
	}
}


p {
	margin-top: 0;
}

li{
	list-style: disc;
}
/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
	color: #b88400;
	text-decoration: none;
}
a.deleteButton,
a.archiveButton{
	color: #999;
}
a:hover {
	color: #333;
}

strong{
	font-weight: bold;
}

blockquote{
	font-size: 2.2rem;
}

@media (max-width: 767px){
	blockquote{
		font-size: 1.3rem;
	}
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
	display: inline-block;
	height: 38px;
	padding: 0 20px;
	color: #b88400;
	text-align: center;
	font-size: 16px;
	font-weight: normal;
	font-family:  'Montserrat', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 38px;
	letter-spacing: 0rem;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	border-radius: 0px;
	border: 1px solid #b88400;
	cursor: pointer;
	box-sizing: border-box;
	transition: 0.5s;
	text-transform: uppercase;
}
.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .button:focus, button:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus {
	color: #333;
	border-color: #333;
	outline: 0;
}
.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
	color: #FFF;
	background-color: #b88400;
	border-color: #b88400;
}
.button.button-primary:hover, button.button-primary:hover, input[type="submit"].button-primary:hover, input[type="reset"].button-primary:hover, input[type="button"].button-primary:hover, .button.button-primary:focus, button.button-primary:focus, input[type="submit"].button-primary:focus, input[type="reset"].button-primary:focus, input[type="button"].button-primary:focus {
	color: #FFF;
	background-color: #333;
	border-color: #333;
}
.button.button-secondary, button.button-secondary, input[type="submit"].button-secondary, input[type="reset"].button-secondary, input[type="button"].button-secondary {
	color: #FFF;
	background-color: #b3b3b3;
	border-color: #b3b3b3;
}
.button.button-secondary:hover, button.button-secondary:hover, input[type="submit"].button-secondary:hover, input[type="reset"].button-secondary:hover, input[type="button"].button-secondary:hover, .button.button-secondary:focus, button.button-secondary:focus, input[type="submit"].button-secondary:focus, input[type="reset"].button-secondary:focus, input[type="button"].button-secondary:focus {
	color: #FFF;
	background-color: #333;
	border-color: #333;
}
/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select {
	height: 38px;
	padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
	background-color: #e6e6e6;
	border: 1px solid #e6e6e6;
	border-radius: 0px;
	box-shadow: none;
	box-sizing: border-box;
	width: 100%;
	color: #333;
	font-family:  'Montserrat', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input[type="email"][disabled], input[type="number"][disabled], input[type="search"][disabled], input[type="text"][disabled], input[type="tel"][disabled], input[type="url"][disabled], input[type="password"][disabled], textarea[disabled], select[disabled] {
	color: #333;
}

input.smalltextbox, input[type="number"]{
	width: 50%;
}

.datepicker{
	width: 50% !important;
}

.currency{
	background: url(../admin/icon_gbp.gif) no-repeat #fff;
	background-position: 3px 13px;
	padding-left: 15px !important;
}



.checkbox label{
	display: inline-block;
	margin-left: 10px;
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
textarea {
	min-height: 65px;
	padding-top: 6px;
	padding-bottom: 6px;
}
input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
	border: 1px solid #b88400;
	outline: 0;
}
label, legend {
	display: block;
	margin-bottom: .5rem;
	font-weight: 400;
	font-size: 1.4rem;
	color: #666;
}
fieldset {
	padding: 0;
	border-width: 0;
}
input[type="checkbox"], input[type="radio"] {
	display: inline;
}
label > .label-body {
	display: inline-block;
	margin-left: .5rem;
	font-weight: normal;
}
.form-error{
	border: 1px solid #F9012E !important;
}
.error-message{
	margin-top: -1.5rem;
	margin-bottom: 1.5rem;
	background: #F9012E;
	color: #fff;
	padding: 3px 3px;
}

.filter-form{
	position: relative;
}

.filter-form label{
	display: none;
}
.filter-form  input{
	margin-bottom: 0px;
}

.filter-form .search-button{
	position: absolute;
	right: 0px;
	top: 0px;
}

/* Method statement form */
.method-radio-options fieldset { margin-bottom: 1rem }
.method-radio-options legend { float: left; width: 200px }
.method-radio-options input { margin: 0 5px 0 20px }
.method-radio-options label { margin: 0; display: inline-block !important }


.input-and-delete-container input { width: 70% !important; float: left }
.input-and-delete-container .button { width: 20%; float: right; padding: 0 }

.input-and-delete-container .error { width: 70%; float: left }
.input-and-delete-container .error input { width: 100% !important; }
.input-and-delete-container .error .error-message { width: 100%; float: left; box-sizing: border-box; }


.checkbox-and-input-container input[type="checkbox"] { display: block; float: left; margin: 12px 12px 0 4px }

.checkbox-and-input-container input[type="text"],
.checkbox-and-input-container select { width: 70% !important }

input[disabled],
select[disabled] {
	color: #333
}


.uploadArea{
	min-height:120px; height:auto; border:3px dotted #ccc; padding:10px; cursor:move; position:relative;
	margin: 15px 0 10px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-weight: normal;
	line-height: 1em;
	color: #666;
}

.uploadArea h3{
	font-size: 1.4rem;
	margin-bottom: 0.2rem;
	color: #999;
	text-align: center;
}
.uploadArea h5 {
	margin-bottom: 0;
	font-size: 1.4rem;
}
.uploadedFileList div {
	position: relative;
	margin-bottom: 7px;
	padding-right: 20px;
}
.uploadedFileList .deleteLink {
	position: absolute;
	top: 0;
	right: 0;
	color: red;
}

.uploaded-files-tick {
	font-size: 20px !important;
	color: #b88400;
	text-shadow: -1px -1px 0 #fd9, 1px -1px 0 #fd9, -1px 1px 0 #fd9, 1px 1px 0 #fd9;
}

.uploaded-files-tick.fa-wrench {
	font-size: 17px !important;
	line-height: 24px;
}

.inplaceEditor input {
	display: block;
	margin-bottom: 6px;
	width: 100% !important;
}

.inplaceEditor button {
	height: 30px;
	font-size: 13px;
	line-height: 30px;
	padding: 0 8px;
	margin-right: 3px;
}

.progress img{ margin-top:7px; margin-left:24px; }



/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
	list-style: circle inside;
}
ol {
	list-style: decimal inside;
}
ol, ul {
	padding-left: 2rem;
	margin-top: 0;
}
ul ul, ul ol, ol ol, ol ul {
	margin: 1.5rem 0 1.5rem 1.5rem;
	font-size: 90%;
}
li {
	margin-bottom: 1rem;
}
/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
	padding: .2rem .5rem;
	margin: 0 .2rem;
	font-size: 90%;
	white-space: nowrap;
	background: #F1F1F1;
	border: 1px solid #E1E1E1;
	border-radius: 4px;
}
pre > code {
	display: block;
	padding: 1rem 1.5rem;
	white-space: pre;
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
table{
	width: 100%;
}

.cols-align-top td {
	vertical-align: top;
}

th{
	background: #e6e6e6;
}

th, td {
	padding: 12px 10px;
	text-align: left;
}


tr:nth-child(even){
	background: #f2f2f2;
}

tr.bg{
	background: #f2f2f2!important;
}
tr.alert{
	background: #F72B2E !important;
}
tr.warning{
	background: #fc6 !important;
}

tr.complete{
	background: #96E125 !important;
}

tr.void{
	background: #666 !important;
}

tr.partial-complete{
	background: #b88400 !important;
	color: #fff;
}

tr.alert a, tr.complete a, tr.partial-complete a{
	color: #fff;
}

tr.void a{
	color: #ccc;
}

.actions .fa-check {
	color: #1d1;
}

span.alert { padding: 0 3px; background: red; border: 1px solid #fff; color: white }


/* Timesheets */

table.timesheet-entries { margin-bottom: 10px }
table.timesheet-entries td { padding: 3px 0 }

table.timesheet-entries.timesheet-entry-costs tr:last-child td { border-bottom: 1px solid #aaa }

.agency-employee-select option,
.new-agency-employee {
	display: none;  /* do not show initially until an agency is selected */
}

.new-agency-employee input { width: 80% }

.awaiting-credit-note {
	background: #bdf;
}


/* To Do / Task list */

table.todo tr:nth-child(even) { background: #f2f2f2; }

table.todo td { vertical-align: top; }


table.todo .todo-due-date { width: 60px; white-space: nowrap; }
table.todo .todo-status { width: 25px; padding-right: 12px; text-align: right; position: relative }
table.todo .todo-assigned-to { width: 22%; }
table.todo .actions { width: 60px }

table.todo .todo-status-icon { display: none; }

table.todo .todo-archive-button { display: none }

table.todo .todo-exclamation { display: none; position: absolute; top: 14px; left: 7px; color: red; font-size: 22px }
table.todo .todo-priority-1 .todo-exclamation { display: block }

table.todo tr.todo-completed .todo-status-icon-completed { color: #0c0; display: inline }
table.todo tr.todo-completed .todo-description,
table.todo tr.todo-completed .todo-due-date,
table.todo tr.todo-completed .todo-assigned-to { color: #bbb }
table.todo tr.todo-completed .todo-exclamation { display: none }
table.todo tr.todo-completed .todo-archive-button { display: inline }

table.todo tr.todo-pending .todo-status-icon-pending { display: inline }

table.todo tr.todo-in-progress .todo-status-icon-in-progress { color: #33a; display: inline }

table.todo .todo-due-today {
	background-color: #feb !important;
}
table.todo .todo-overdue {
	background-color: #fcc !important;
}

table.todo .todo-due-today .todo-due-date,
table.todo .todo-overdue .todo-due-date {
	font-weight: bold;
}

/* Employee Training / Certification Matrix */

.employee-matrix {
	width: auto;
	font-size: 1.4rem
}

.employee-matrix th {
	border-bottom: 1px solid #ccc;
	padding: 10px 6px;
}
.employee-matrix th:last-child {
	border-width: 0;
}
.employee-matrix th.employee-no {
	width: 20px;
	padding: 0 0 10px 0;
	text-align: center;
	vertical-align: bottom;
}
.employee-matrix th.employee-name {
	padding: 0 15px 10px 0;
	text-align: right;
	border-right: 1px solid #CCD;
	vertical-align: bottom;
	white-space: nowrap;
}
.employee-matrix th.rotate {
	height: 155px;
	white-space: nowrap;
}
.employee-matrix th.rotate > div {
	transform: translate(5px, 75px) rotate(-35deg);
	width: 30px;
}
.employee-matrix th.rotate > div > span {
	padding: 0 0 0 20px;
}

.employee-matrix td.employee-name  {
	padding-right: 15px;
	text-align: right;
	white-space: nowrap;
}
.employee-matrix td {
	position: relative;
	padding: 10px 6px;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align: center;
	vertical-align: center;
}
.employee-matrix td:nth-child(n+3) {
	min-width: 60px;
}
.employee-matrix td:last-child {
	width: 125px;
	background: #e6e6e6;
	border-bottom-width: 0;
}

.employee-matrix td .cert-actions {
	box-sizing: border-box;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: 6px;
	text-align: center;
	background: #fff;
	opacity: 0.95;
}

.employee-matrix td a.add-cert {
	display: inline-block;
	padding: 2px;
	font-size: 23px;
	line-height: 25px;
	color: #b88400;
}
.employee-matrix td .delete-cert {
	position: absolute;
	top: 0;
	right: 2px;
	display: inline-block;
	font-size: 18px;
	color: red;
}

.employee-matrix .no-cert .delete-cert {
	display: none;
}

.employee-matrix td:hover .cert-actions {
	display: block;
}

.cert-expired { background: #f55 }
.cert-warning { background: #fb5 }
.employee-matrix .cert-ok { background: #7f7 }


/* Ordering / Sortable
–––––––––––––––––––––––––––––––––––––––––––––––––– */

ol.sortable{
	margin: 0 0 20px;
	padding: 0;
	list-style-type: none;

}

ol.sortable ol {
	padding-left: 30px;
}

.sortable li {
	margin: 5px 0 0 0;
	padding: 0;
	color: #333;
	list-style-type: none;
}

.sortable li div  {
	border: 1px solid #d4d4d4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-color: #D4D4D4 #D4D4D4 #BCBCBC;
	padding: 6px;
	margin: 0;
	cursor: move;
	background: #f6f6f6;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}

.sortableDelete{
	float: right;
	padding: 5px;
}

.sortableEdit{
	float: right;
	padding: 5px;
}

#ajax-status{
	width: 30%;
	background: #A6E83D;
	padding: 10px 10px 10px 10px;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#A6E83D), to(#94CC29));
	background: -webkit-linear-gradient(#A6E83D, #94CC29);
	background: -moz-linear-gradient(#A6E83D, #94CC29);
	background: -ms-linear-gradient(#A6E83D, #94CC29);
	background: -o-linear-gradient(#A6E83D, #94CC29);
	background: linear-gradient(#A6E83D, #94CC29);
	font-size: 1.2em;
	text-shadow: #D2ED9F 1px 1px 0px;
	border-radius: 4px;
	text-align: center;
}



/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button, .button {
	margin-bottom: 1rem;
}
input, textarea, select, fieldset {
	margin-bottom: 1.5rem;
}
pre, blockquote, dl, figure, table, p, ul, ol {
	margin-bottom: 2.5rem;
}

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
	width: 100% !important;
	box-sizing: border-box;
}
.u-max-full-width {
	max-width: 100% !important;
	box-sizing: border-box;
}
.u-pull-right {
	float: right;
}
.u-pull-left {
	float: left;
}
/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
	margin-top: 3rem;
	margin-bottom: 3.5rem;
	border-width: 0;
	border-top: 1px solid #E1E1E1;
}
/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after, .row:after, .u-cf {
	content: "";
	display: table;
	clear: both;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Mobile */
@media (max-width: 767px) {
	input.smalltextbox, input[type="number"]{
		width: 100%;
	}
	
	.datepicker{
		width: 100% !important;
	}
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 768px) {
}

/* Larger than tablet */
@media (min-width: 992px) {
	
}

/* Larger than desktop */
@media (min-width: 1200px) {
	
}



