/* ========================================================== 
	GLOBAL STYLES
============================================================ */

.centre{
	text-align: center;
}

.right{
	text-align: right;
}

@media(max-width: 767px){
	.right{
		text-align: left;
	}
}


/* ========================================================== 
	Header
============================================================ */

header{
	margin-top: 30px;
}

#logo{
	margin-bottom: 10px;
}

header .right{
	color: #808080;
	margin-top: 10px;
}

header .button{
	margin-left: 20px;
}

nav{
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}

.nav{	
	padding-left: 0px;
	margin: 0px;
}

.nav > li{
	float: left;
	margin: 0px 0px;
	padding: 0px;
	font-size: 1.6rem;
	list-style: none;
	position: relative;
}

.nav > li:last-child{
	margin-right: 0px;
}

.nav > li > a{
	display: block;
	padding: 10px 20px;
	position: relative;
	transition: background-color 0.5s;
}


.nav > li.selected > a,
.nav > li:hover > a {
	background: url(../images/menu_arrow.svg) bottom center no-repeat #efefef;
}


.nav > li > ul {
	position: absolute;
	left: 0px;
	top: 42px;
	margin: 0;
	padding: 15px 30px 5px 20px;
	border: 1px solid #ddd;
	z-index: -1;
	opacity: 0;
	transition: opacity 0.2s;
	background: #efefef;
	overflow: visible;
}
.nav > li > ul > li {
	list-style: none;
	white-space: nowrap;
}

.nav > li:hover > ul {
	display: block;
	opacity: 1;
	z-index: 999;
}



@media (max-width: 767px) {
	
	
	.nav li{
		float: none;
		display: block;
		margin-right: 0px;
		padding-bottom: 0px;
	}

	.nav > li > ul {
		left: auto;
		right: 0;
	}
	
	
	.mobile-menu{
		position: absolute;
		top: 25px;
		right: 20px;
		z-index: 2;
	}

	.mobile-menu a{
		display: block;
		position: relative;
		height: 30px;
		width: 30px;
		border-radius: 50%;
		background: #fff;
		margin-bottom: 0px;
	}
	.mobile-menu span {
		/* this span is the central line of the menu icon */
		display: inline-block;
		position: absolute;
		left: 50%;
		top: 50%;
		bottom: auto;
		right: auto;
		-webkit-transform: translateX(-50%) translateY(-50%);
		-moz-transform: translateX(-50%) translateY(-50%);
		-ms-transform: translateX(-50%) translateY(-50%);
		-o-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		width: 15px;
		height: 2px;
		background-color: #BBD4EA;
		-webkit-transition: background-color 0.3s;
		-moz-transition: background-color 0.3s;
		transition: background-color 0.3s;
		/* these are the upper and lower lines in the menu icon */
	}
	.mobile-menu span::before, .mobile-menu span:after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: #BBD4EA;
		right: 0;
		-webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
		-moz-transition: -moz-transform .3s, top .3s, background-color 0s;
		transition: transform .3s, top .3s, background-color 0s;
	}
	.mobile-menu span::before {
		top: -6px;
	}
	.mobile-menu span::after {
		top: 6px;
	}
	.mobile-menu span.is-clicked {
		background-color: rgba(255, 255, 255, 0);
	}
	.mobile-menu span.is-clicked::before, .mobile-menu span.is-clicked::after {
		background-color: #BBD4EA;
	}
	.mobile-menu span.is-clicked::before {
		top: 0;
		-webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
		-ms-transform: rotate(135deg);
		-o-transform: rotate(135deg);
		transform: rotate(135deg);
	}
	.mobile-menu span.is-clicked::after {
		top: 0;
		-webkit-transform: rotate(225deg);
		-moz-transform: rotate(225deg);
		-ms-transform: rotate(225deg);
		-o-transform: rotate(225deg);
		transform: rotate(225deg);
	}
	
	
	
}

@media (min-width: 768px) {

	.vertical-centre{
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	.vertical-bottom{
		position: absolute;
		bottom: 30px;
		width: 100%;
	}

}

@media (min-width: 992px) {	
	
}

@media (min-width: 1200px) {
	
	
	
}


/* ========================================================== 
	Sections
============================================================ */





/* ========================================================== 
	Content
============================================================ */

main.container{
	margin-top: 30px;
	box-sizing: border-box;
}

.content-group{
	margin-top: 20px;
}

.content{
	-webkit-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.3);
	
	padding: 20px;
	margin-bottom: 30px;
}

.content-head{
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}

.content-head h1{
	margin-bottom: 0px;
}

.box{
	padding: 20px;
	background: #f2f2f2;
	margin-bottom: 2.5rem;
	word-break: break-all;
}


/* ------------------ Pagination Controls ---------------------- */
.pagination{
	clear: both;
	margin: 0px 0px 10px 0px;
	
	margin: 0px 0px 1px 0px;
	padding: 5px 0px;
}
.pagination div{
	display: inline;
}
.pagination #prev{
	float: left;
	padding: 5px;
}
.pagination #next{
	float: left;
	padding: 5px;
	margin-left: 5px;
}
.pagination span{
	list-style-type: none;
	padding-bottom: 1px;
	margin: 0px;
	float: left;
	padding: 5px 0px;
	margin-left: 5px;
}
.pagination .disabled{
	color: #ccc;
	float: left;
	border: 1px solid #ccc;
}
#pagination_details{
	float: right;
}
.pagination a, .pagination a:visited{
	padding: 5px 8px 5px 8px;
	text-decoration: none; 
	color: #666;
	background: #e6e6e6;
}

.pagination a:hover, .pagination a:active{
	color: #fff;
	background: #666;
}

.pagination span.current{
font-weight: bold;
cursor: default;
color: #fff;
	background: #666;
	padding: 5px 8px 5px 8px;
}

.pagination a.disablelink, .pagination a.disablelink:hover{
color: #666;
font-weight: normal !important;

}

.pagination a.prevnext{
font-weight: bold;
}

.paginationstatus{
	width: 400px;
	float: right;
	text-align: right;
	margin-top: 20px;
}


/* ---- Flash Messages ---- */

#flashMessage{
	position: absolute;
	z-index: 1000;
	top: 0px;
	left: 35%;
	width: 30%;
	background: #A6E83D;
	padding: 10px 10px 10px 10px;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#A6E83D), to(#94CC29));
	background: -webkit-linear-gradient(#A6E83D, #94CC29);
	background: -moz-linear-gradient(#A6E83D, #94CC29);
	background: -ms-linear-gradient(#A6E83D, #94CC29);
	background: -o-linear-gradient(#A6E83D, #94CC29);
	background: linear-gradient(#A6E83D, #94CC29);
	font-size: 1.2em;
	text-shadow: #D2ED9F 1px 1px 0px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	text-align: center;
}

#flashMessage.flash_failure{
	background: #ED2127;
	text-shadow: #fff 0px 0px 0px;
	color: #fff;
}




/* ========================================================== 
	Status
============================================================ */

.Completed, .Live, .Pending, .Holding, .Archived {
	padding: 5px 7px;
	display: block;
	border: 1px solid #fff;
	background: #29abe2;
	border-radius: 5px;
	font-size: 1.2rem;
	color: #fff;
	text-transform:  uppercase;
	text-align: center;
}

.Completed{
	background: #b88400;
}

.Pending{
	background: #f7931e;
}

.Live{
	background: #8cc63f;
}

.Holding{
	background: #db38c1;
}

.Archived{
	background: #808080;
}

/* ========================================================== 
	UI
============================================================ */

/*
.icon{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../images/icons.svg) no-repeat;
	margin-left: 7px;
}

.icon.twitter{
	width: 17px;
	height: 17px;
}

.icon.twitter:hover, .icon-wrap:hover .icon.twitter{
	background-position: -30px 0px; 
}
*/

/* ==========================================================
	Modal Window
============================================================ */

.overlay-block{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	display: none;
	z-index: 999;
}

.overlay-block.show-on-page-load {
	display: block;
}

.overlay-content{
	margin: 20px auto;
	width: 90%;
	max-width: 800px;
	padding: 30px;
	background: #fff;
	position: relative;
}

.overlay-content-small {
	width: 25%;
	min-width: 300px;
	max-width: 450px;
}

.overlay-close{
	float: right;
}



/* ==========================================================================
   Utils
   ========================================================================== */

.alignright, .floatright{
	float: right;
	margin: 0px 0px 20px 20px;
	clear: both;
}

.alignleft, .floatleft{
	float: left;
	margin: 0px 20px 20px 0px;
}

.group:before,
.group:after{
    content: " ";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    *zoom: 1;
}

.inline li{
	float: left;
	display: inline;
}

.mobile-only{
	display: none;
}

.responsive{
	width: 100%;
	height: auto;
}

@media (max-width: 767px) {
	.not-for-mobile{
		display: none !important;
	}
	.mobile-only{
		display: block !important;
	}
}




