/* CSS Document */

@media print {

	@page {
		size: landscape;
	}

	header,
	#header,
	#nav-primary,
	#nav-secondary,
	#page-title,
	button,
	.button,
	.actions{
		display: none;
	}

	.noprint {
		display: none;
	}

	.container {
		width: 100% !important;
		margin: 0;
		padding: 0;
	}

	div.report {
		width: 800px !important;
	}

	div.report h1 {
		font-size: 1.6rem !important;
		margin-bottom: 1.6rem;
	}

	div.report h2 {
		color: #333;
		font-size: 1.4rem !important;
		margin-bottom: 1.6rem;
	}

	div.report h3 {
		font-size: 1.3rem !important;
		margin-bottom: 1.6rem;
		color: #a33;
	}

	div.report {
		font-size: 11px;
	}

	div.report .group .col6 {
		width: 46%;
		float: left;
	}

	div.report .group .col6:first-child {
		margin-right: 4%;
	}

	.content {
		box-shadow: none;
		padding: 0;
		margin: 0;
	}

	div.report.lab-analysis-report,
	div.report.hw-report {
		width: 1300px !important;
	}

	table.lab-analysis-report td.project-name div {
		font-size: 11px !important;
		width: 120px !important;
	}

	div.report.wages-report {
		width: 1300px !important;
	}

	.todo-list .col5,
	.todo-list .col7 {
		width: 100%
	}

	.todo-list .col5 {
		margin-top: 25px;
	}

	.todo-list td {
		padding-bottom: 0 !important;
	}
}