
/* Reports
–––––––––––––––––––––––––––––––––––––––––––––––––– */

div.report .filter-form label { display: inline; padding-right: 10px }
div.report .filter-form button { padding: 0 10px }

div.report h2 { font-size: 2.3rem; margin-bottom: 1.5rem }


/* Wages report table */

table.wages-report { border-bottom: 1px solid #ddd; border-right: 1px solid #ddd; width: auto }
table.wages-report th,
table.wages-report td { min-width: 80px; padding: 3px 8px; font-size: 13px; font-weight: normal; border-top: 1px solid #ddd; border-left: 1px solid #ddd; }

table.wages-report tr:last-child td { border-top: 2px solid #777; border-bottom: 2px solid #777 }

table.wages-report th { text-align: right; vertical-align: bottom }
table.wages-report th:first-child { text-align: left; }

table.wages-report td { text-align: right; vertical-align: top }
table.wages-report td:first-child { min-width: 120px; text-align: left; padding-right: 50px }

/* Weekly Labour Analysis report table */

table.lab-analysis-report { border-bottom: 1px solid #ddd; border-right: 1px solid #ddd; width: auto }
table.lab-analysis-report th,
table.lab-analysis-report td { min-width: 100px !important; padding: 3px 8px; font-size: 13px; font-weight: normal; border-top: 1px solid #ddd; border-left: 1px solid #ddd; }

table.lab-analysis-report th { text-align: center }
table.lab-analysis-report td { background: #fff }
table.lab-analysis-report tr.even-row td { background: #f2f2f2 }
table.lab-analysis-report tr:nth-child(2n) td { border-top-color: #999 }

table.lab-analysis-report td:first-child { padding-right: 20px; vertical-align: middle }

table.lab-analysis-report td.project-type { min-width: 10px !important; text-align: center; padding: 2px 8px }
table.lab-analysis-report td.project-name div { font-size: 12px; max-width: 180px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis }

table.lab-analysis-report td.project-type.active { background-color: #fbc97f !important }

.pdf-report table.lab-analysis-report { width: 1300px !important }
.pdf-report table.lab-analysis-report th { width: 180px !important }
.pdf-report table.lab-analysis-report td.project-type { padding: 2px 2px }
.pdf-report table.lab-analysis-report td.project-name { padding: 3px 4px }


/* Agency Labourers report table */

table.agency-labourers-report td { padding: 2px 0 0; background: #fff; font-size: 13px; border-width: 0 }

table.agency-labourers-report tr:first-child td { color: #b88400; font-weight: bold }
table.agency-labourers-report tr.general-heading td { font-size: 14px; padding: 1px 0; font-weight: bold }

table.agency-labourers-report td:nth-child(n+3) { max-width: 100px; text-align: center }


/* Hours Worked report */

.hw-report-container { margin-top: 0; float: left; border: 1px solid #ccc; }

.hw-day { padding: 10px }
.hw-day:nth-child(odd) { background: #f2f2f2 }
.hw-day.hw-day-header { background: #e6e6e6; border-bottom: 1px solid #ddd; padding-bottom: 8px; margin-bottom: 5px }

.hw-day-name { float: left; width: 160px }
.hw-projects { float: left }

.hw-project { clear: left; padding-top: 6px }
.hw-project:first-child { padding-top: 0 }

.hw-project-name { float: left; width: 370px; padding-right: 20px }

.hw-projects .hw-project { border-top: 1px solid #ccc; margin-top: 5px }
.hw-projects .hw-project:first-child { border-top: 0px solid #ccc; margin-top: 0px }

.hw-timesheet-entries { float: left }
.hw-timesheet-entry > div { float: left; width: 80px }

/* Labour report */

.lab-report-container { float: left; border: 1px solid #ccc; }

.lab-day { padding: 10px }
.lab-day:nth-child(odd) { background: #f2f2f2 }
.lab-day.lab-day-header { background: #e6e6e6; border-bottom: 1px solid #ddd; padding-bottom: 8px; margin-bottom: 5px }

.lab-day-name { float: left; width: 160px }
.lab-projects { float: left }

.lab-project { clear: left; padding-top: 6px }
.lab-project:first-child { padding-top: 0px }

.lab-project-name { float: left; width: 370px; padding-right: 20px }

.lab-projects .lab-project { border-top: 1px solid #ccc; margin-top: 5px }
.lab-projects .lab-project:first-child { border-top: 0px solid #ccc; margin-top: 0px }

.lab-labour-entries { float: left }
.lab-labour-entry > div { float: left; width: 80px }

/* Diary report */

.diary-report h3 { color: #c33;	}

.diary-project { margin: 1rem 0 2.5rem; }
.diary-project p { margin: 1rem 0; }
.diary-project p.title { margin: 1rem 0 0; text-decoration: underline }

/* Project Timesheet report */

.proj-timesheet-report-container { float: left; border: 1px solid #ccc; }

.proj-timesheet-day { padding: 10px }
.proj-timesheet-day:nth-child(odd) { background: #f2f2f2 }
.proj-timesheet-day.lab-day-header { background: #e6e6e6; border-bottom: 1px solid #ddd; padding-bottom: 8px; margin-bottom: 5px }

.proj-timesheet-day-name { float: left; width: 160px }
.proj-timesheet-entries { float: left; width: 375px }
.proj-timesheet-project-items { float: left; width: 550px }

.proj-timesheet-operative { float: left; width: 170px; }
.proj-timesheet-time { float: left; width: 60px; }
.proj-timesheet-break { float: left; width: 85px; }


/* PDF specific styles */

.pdf-report  {
	font-size: 13px;
}

.pdf-report .content {
	width: 95%; margin: 5px auto 0
}

.pdf-report .report h2 {
	font-size: 15px;
}

.pdf-report .proj-timesheet-day-header { font-weight: bold; background: #f2f2f2 }

.pdf-report .proj-timesheet-day { padding: 6px }

.pdf-report .proj-timesheet-entries { width: 345px; }
.pdf-report .proj-timesheet-project-items { width: 550px; }

.pdf-report .proj-timesheet-day-name { width: 130px; }
.pdf-report .proj-timesheet-operative { width: 140px; }


/* ==========================================================================
   Utils
   ========================================================================== */

.alignright, .floatright{
	float: right;
	margin: 0px 0px 20px 20px;
	clear: both;
}

.alignleft, .floatleft{
	float: left;
	margin: 0px 20px 20px 0px;
}

.group:before,
.group:after{
	content: " ";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	*zoom: 1;
}

.inline li{
	float: left;
	display: inline;
}

.mobile-only{
	display: none;
}

.responsive{
	width: 100%;
	height: auto;
}

@media (max-width: 767px) {
	.not-for-mobile{
		display: none !important;
	}
	.mobile-only{
		display: block !important;
	}
}




