
<div id="page-title">
	<div class="container clearfix">
		
		<h1>File Manager</h1>
	</div>
</div>	

<div id="content-wrapper">
	<div id="content" class="container clearfix">
	

		<?php echo $this->Ckeditor->filemanager(); ?>

	</div>
	
</div>