/* CSS Document */

form.cmxform fieldset { margin-bottom: 5px; }
form.cmxform legend {
	padding: 0 2px;
	margin: 0 -7px; /* IE Win */
	}
	
form.cmxform label {
	display: inline-block;
	line-height: 1.6;
	vertical-align: top;
	}
form.cmxform fieldset ol {
	margin: 0;
	padding: 0;
	}
form.cmxform fieldset li {
	list-style: none;
	padding: 5px;
	margin: 0;
	}
form.cmxform fieldset fieldset {
	border: none;
	margin: 2px 0 0;
	}
form.cmxform fieldset fieldset legend {
	padding: 0 0 5px;
	font-weight: normal;
	}
form.cmxform fieldset fieldset label {
	display: block;
	width: auto;
	}
form.cmxform em {
	font-weight: bold;
	font-style: normal;
	color: #BE1E2D;
	}

form.cmxform label { width: 200px; } /* Width of labels */
form.cmxform fieldset fieldset label { margin-left: 203px; } /* Width plus 3 (html space) */

/*\*//*/ form.cmxform legend { display: inline-block; } /* IE Mac legend fix */

	
form.cmxform legend { padding-left: 0; }
	
form.cmxform legend,
form.cmxform label { 
	font-size: 100%;
	font-weight: normal;
}

form.cmxform fieldset {
	border: none;
	}
	
form.cmxform fieldset fieldset { background: none; }
	
form.cmxform fieldset li {
	padding: 5px 10px 7px;
	}
	
	
	form{ margin-bottom: 15px;}
form.cmxform label { color: #333; text-align: right; width: 200px; padding: 5px 20px 0px 0px; } /* Width of labels */
form.cmxform fieldset fieldset label { margin-left: 253px; } /* Width plus 3 (html space) */
form.cmxform fieldset{ margin: 0px 0px 20px 0px; border: 1px solid #e6e6e6; padding: 5px;}
form.cmxform fieldset legend{ 
	padding: 0px 10px; font-size: 1.2em; background: #fff;
	color: #006699;
	font-style: italic;
}
form.cmxform ol{	
	margin-bottom: 15px;
}
form.cmxform li{
	font-size: 1.1em;
	border-bottom: 2px solid #fff;
	background: #F2F2F2;
}
div.formhelper{
	position: absolute;
	margin-left: 470px;
	font-size: 0.8em;
	line-height: 1.2em;
	padding: 3px 3px 3px 20px;
	background-color: #D3E9F4;
	background: url(../graphics/tips_left.gif) no-repeat left top #D3E9F4;
	border: 1px solid #666;
	width: 200px;
}
.errortext{
	font-style: italic;
	font-weight: bold;
	margin: 4px 0px;
	color:#EC0B8D;
	font-size: 0.8em;
}
.button{
	height: 30px;
	background: #fff;
	border: 2px solid #666;
	font-size: 14px;
	font-weight: bold;
}
.textbox{
	border: 1px solid #999;
	border-radius: 4px;
	-moz-border-radius: 4px;
	padding: 2px;
	width: 300px;
	height: 25px; 
	font-size: 14px;
	font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}
.datebox{
	border: 1px solid #666;
	padding: 2px;
	width: 120px;
	height: 20px; 
	font-size: 14px;
	font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}
.findtextbox{
	border: 1px solid #999;
	padding: 2px;
	width: 150px;
}
.smalltextbox{
	border: 1px solid #666;
	height: 20px; 
	padding: 2px;
	width: 60px;
	font-size: 14px;
	font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}
.medtextbox{
	border: 1px solid #666;
	padding: 2px;
	height: 100px;
	width: 200px;
	overflow:auto;
	font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}

.bigtextbox{
	border: 1px solid #999;
	border-radius: 4px;
	-moz-border-radius: 4px;
	height: 100px;
	width: 300px;
	overflow:auto;
	font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}
.vbigtextbox{
	border: 1px solid #666;
	padding: 2px;
	height: 200px;
	width: 95%;
	overflow:auto;
	font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}
.currencybox{
	border: 1px solid #999;
	border-radius: 4px;
	-moz-border-radius: 4px;
	padding: 2px 2px 2px 15px;
	width: 100px;
	height: 25px; 
	font-size: 14px;
	font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
	
	background: url(icon_gbp.gif) no-repeat #fff;
	background-position: 3px 7px;
}
.submit{
	text-align: center;
}
.submit input{
	padding: 0px 20px;
	height: 30px;
	background: #4A71AE;
	border: 1px solid #4A71AE;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}
.checkbox input{
	margin-right: 10px;
}
.cancelbutton{
	padding: 0px 20px;
	height: 30px;
	background: #D3E9F4;
	border: 1px solid #666;
	font-size: 14px;
	font-weight: bold;
}
.selectbox{
	border: 1px solid #666;
	padding: 2px 0px 2px 2px;
	height: 30px;
	font-size: 16px;
	border-radius: 4px;
	-moz-border-radius: 4px;
}



.tickbox input{
	border: 1px solid #666;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	margin-left: 220px;
}

form.cmxform .tickbox label{
	text-align: left;
	width: 400px;
	padding: 0px;
}

.checkbox{
	border: 1px solid #666;
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.tickbox input[type="checkbox"] {
	vertical-align: bottom;
}
.tickbox label{
	display: inline;
}

.selecttable{
	border: 1px solid #999;
	padding: 2px;
	width: 250px;
}
.selecttable option:hover{
	background-color: #66FFFF;
}
.error-message, .flash_failure_perm{
	padding: 3px 3px 3px 10px;
	background: #D4145A;
	color: #fff;
	font-size: 0.9em;
}
.form-error{
	border: 2px solid #D0738F;
}




.submitButton, .submitButton:visited{
	padding: 15px 20px 15px 20px;
	background: #cccccc;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#e6e6e6), to(#cccccc));
	background: -webkit-linear-gradient(#e6e6e6, #cccccc);
	background: -moz-linear-gradient(#e6e6e6, #cccccc);
	background: -ms-linear-gradient(#e6e6e6, #cccccc);
	background: -o-linear-gradient(#e6e6e6, #cccccc);
	background: linear-gradient(#e6e6e6, #cccccc);
	
	border: 1px solid #ccc;
	-moz-border-radius: 6px;
	border-radius: 6px;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0px;
	cursor: pointer;
	color: #333;
	text-shadow: #fff 1px 1px 0px;
}

.submitButton:hover, .submitButton:visited:hover{
	background: #CCCCCC;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#666), to(#333));
	background: -webkit-linear-gradient(#666, #333);
	background: -moz-linear-gradient(#666, #333);
	background: -ms-linear-gradient(#666, #333);
	background: -o-linear-gradient(#666, #333);
	background: linear-gradient(#666, #333);
	color: #fff;
	text-shadow: #000 -1px -1px 0px;
}

.cancelLink, .cancelLink:visited{
	color: #666;
	text-decoration: underline;
	margin-left: 20px;
}

.submitDisabled, .submitDisabled:hover{
	background: #e6e6e6;
	text-shadow: #fff 1px 1px 0px;
	color: #ccc;
}

.filterButton, .filterButton:visited{
	padding: 3px 5px 3px 5px;
	background: #cccccc;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#e6e6e6), to(#cccccc));
	background: -webkit-linear-gradient(#e6e6e6, #cccccc);
	background: -moz-linear-gradient(#e6e6e6, #cccccc);
	background: -ms-linear-gradient(#e6e6e6, #cccccc);
	background: -o-linear-gradient(#e6e6e6, #cccccc);
	background: linear-gradient(#e6e6e6, #cccccc);
	
	border: 1px solid #ccc;
	-moz-border-radius: 6px;
	border-radius: 3px;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin: 2px 0px;
	color: #333;
	text-shadow: #fff 1px 1px 0px;
}

.filterButton:hover, .filterButton:visited:hover{
	background: #CCCCCC;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#666), to(#333));
	background: -webkit-linear-gradient(#666, #333);
	background: -moz-linear-gradient(#666, #333);
	background: -ms-linear-gradient(#666, #333);
	background: -o-linear-gradient(#666, #333);
	background: linear-gradient(#666, #333);
	color: #fff;
	text-shadow: #000 -1px -1px 0px;
}


/* Login Form */

.loginForm .textbox{
	width: 250px;
}

.loginForm label{
	display: block;
	text-align: left;
	margin-top: 10px;
	font-size: 1.2em;
	color: #666;
	font-weight: bold;
}

form.loginForm .tickbox{
	margin-top: 10px;
}

form.loginForm .tickbox label{
	text-align: left;
	display: inline;
	padding: 0px;
	
}

form.loginForm .tickbox input{
	border: 1px solid #666;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	margin-left: 0px;
}


.uploadArea{ 
	min-height:300px; height:auto; border:5px dotted #ccc; padding:10px; cursor:move; margin-bottom:10px; position:relative;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-weight: normal;
	line-height: 1em;
	color: #666;
}

.uploadArea h3{
	color: 999;
	text-align: center;
}

.progress img{ margin-top:7px; margin-left:24px; }




.filter-form{
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	margin: 0px 0px 1px 0px;
	background: #e6e6e6;
	padding: 10px;
}
.filter-form input, .filter-form select{
	float: left;
	display: inline;
	margin: 0px 20px 0px 10px;
}

.filter-form label{
	float: left;
	display: inline;
	margin: 0px 10px 0px 0px;
	color: #333;
	padding-top: 5px;
	font-size: 1.2em;
}

.filter-form button.filterButton{
	margin-left: 20px;
}