/*
 & Columns : 12 
 & Gutter %: 20% 
 & MinWidth: 960px
 & MaxWidth: 1200px
 */
.col1 { width: 6.6666666666667%; }
.col2 { width: 15%; }
.col3 { width: 23.333333333333%; }
.col4 { width: 31.666666666667%; }
.col5 { width: 40%; }
.col6 { width: 48.333333333333%; }
.col7 { width: 56.666666666667%; }
.col8 { width: 65%; }
.col9 { width: 73.333333333333%; }
.col10 { width: 81.666666666667%; }
.col11 { width: 90%; }
.col12 { width: 98.333333333333%; }

.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9,
.col10,
.col11,
.col12 {
	margin-left: 0.83333333333333%;
	margin-right: 0.83333333333333%;
	float: left;
	display: block;
}

.alpha{margin-left:0px;}
.omega{margin-right:0px;}

.container{
	min-width: 960px; 
	max-width: 2000px; 
	margin: auto;
	padding: 0px 30px;
}

/* @
 * tinyfluidgrid.com
 & girlfriendnyc.com
 */

.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}