/* CSS Document */

body{
	background: #333333;
}

#header{
	
}

#site-name{
	font-size: 2.5em;
	font-family: 'CorisandeLight', Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #fff;
	margin: 20px 0px 20px 0px;
	line-height: 1em;
	
	text-shadow: 0.05em 0.05em 0.1em #000;
}

#nav-primary ul{
	margin: 0px;
	position: relative;
	z-index: 100;
}

#nav-primary li{
	display: inline;
	float: left;
	margin: 0px;
	font-size: 1.2em;
	
}

#nav-primary li a, #nav-primary li a:visited{
	display: block;
	background: #262626;
	height: 28px;
	padding: 7px 20px 0px 20px;
	
	text-align: center;
	color: #E6E6E6;
	border-right: 1px solid #000;
	border-top: 1px solid #000;
}



#nav-primary li.first-menu-item a{
	border-top-left-radius: 4px;
	border-left: 1px solid #000;
}

#nav-primary li.last-menu-item a{
	border-top-right-radius: 4px;
}

#nav-primary li.drop-down a, #nav-primary li.drop-down a:visited{
	padding: 7px 35px 0px 20px;
	background-image: url(menu_arrow_normal.png) ;
	background-repeat: no-repeat;
	background-position: 90% 50%;
}

#nav-primary li.drop-down a:hover, #nav-primary li.drop-down a:visited:hover, #nav-primary li.drop-down:hover a{
	background-color: #9ED6E0;
	background-image: url(menu_arrow.png) ;
	background-repeat: no-repeat;
	background-position: 90% 50%;
	color: #000;
}


#nav-primary li a:hover, #nav-primary li a:visited:hover{
	background: #9ED6E0;
	color: #fff;
}

/* Drop Down Menu */


#nav-primary li ul{
	position: absolute;
	left: -999em;
	height: auto;
	width: 200px;
	font-weight: normal;
	margin: 0;
	font-size: 1em;
	background: #9ED6E0;
	padding: 0px 0px 0px 0px;
	-moz-box-shadow: 5px 5px 5px #999;
	-webkit-box-shadow: 5px 5px 5px #999;
	box-shadow: 5px 5px 5px #999;
	
}

#nav-primary li li{
	background: none;
	float: none;
	display: block;
	line-height: 1.2em;
	font-size: 0.9em;
	padding: 0px 0px 0px 0px;
	margin: 0;
	width: 200px;
}
#nav-primary li.drop-down li a, #nav-primary li.drop-down li a:visited, #nav-primary li.drop-down:hover li a{
	background-image: none;
	background: none;
	color: #000;
	height: 18px;
	padding: 15px 5px 5px 10px;
	text-align: left;
	width: 185px;
	display: block;
	border-right: 0px;
	border-top: 1px solid #2BB8C9;
}

#nav-primary li.drop-down li a:hover, #nav-primary li.drop-down li a:visited:hover, #nav-primary li.drop-down:hover li a:hover{
	background: #2BB8C9;
}


#nav-primary li li a:hover{
	background: #225791;
	color: #fff;
}

#nav-primary li ul ul {
	margin: -2em 0 0 15.4em;	
	padding: 0px 0px 0px 0px;
}

#nav-primary li:hover ul ul, #nav-primary li:hover ul ul ul, #nav-primary li.sfhover ul ul, #nav-primary li.sfhover ul ul ul {
	left: -999em;
}

#nav-primary li:hover ul, #nav-primary li li:hover ul, #nav-primary li li li:hover ul, #nav-primary li.sfhover ul, #nav-primary li li.sfhover ul, #nav-primary li li li.sfhover ul {
	left: auto;
}

#nav-primary li:hover, #nav-primary li.sfhover {	
	color: #fff;
	position: static;
}

#nav-primary li:hover a, #nav-primary li.sfhover a{
	background-image: none;
	background: none;
	background-position: 0 0;
	color: #fff;	
	text-decoration: none;
	text-align: left;
}

/*end drop down */

#nav-secondary{
	background: url(secondary_nav_bg.png) repeat-x bottom #9ED6E0;
}

#nav-secondary ul{
	z-index: 100;
}

#nav-secondary li{
	margin: 0px;
	float: left;
	display: inline;
	
	font-size: 1.3em;
}

#nav-secondary li a, #nav-secondary li a:visited{
	display: block;
	height: 20px;
	padding: 10px 20px;
	color: #006666;
	text-shadow: #C9E7ED 1px 1px 0px;
}

#nav-secondary li a:hover, #nav-secondary li a:visited:hover{
	color: #000;
}

#nav-secondary li.selected a, #nav-secondary li.selected a:visited{
	color: #000;
	background: url(secondary_nav_sel_bg.png) no-repeat center bottom;
}

#page-title{
	background: #E6E6E6;
	padding: 15px 0px 10px 0px;
	border-bottom: 1px solid #ccc;
}

#page-title h1{
	padding: 5px 0px 0px 0px;
}

#function-buttons{
	width: 700px;
	float: right;
	margin: 0px;
}

#function-buttons li{
	float: right;
	margin-right: 2px;
}

#function-buttons li a, #function-buttons li a:visited{
	display: block;
	padding: 7px 30px;
	font-size: 1.4em;
	color: #000;
	background: #339933;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#A6E83D), to(#94CC29));
	background: -webkit-linear-gradient(#A6E83D, #94CC29);
	background: -moz-linear-gradient(#A6E83D, #94CC29);
	background: -ms-linear-gradient(#A6E83D, #94CC29);
	background: -o-linear-gradient(#A6E83D, #94CC29);
	background: linear-gradient(#A6E83D, #94CC29);
	
	border: 4px solid #ccc;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#function-buttons li a:hover, #function-buttons li a:visited:hover{
	background: #CCCCCC;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#666), to(#333));
	background: -webkit-linear-gradient(#666, #333);
	background: -moz-linear-gradient(#666, #333);
	background: -ms-linear-gradient(#666, #333);
	background: -o-linear-gradient(#666, #333);
	background: linear-gradient(#666, #333);
	color: #fff;
}

#content-wrapper{
	background: #fff;
	min-height: 300px;
}

#content{
	padding: 30px 30px;
}

.title-holder{
	background: #E6E6E6;
	padding: 10px;
}



/* ------------------ Pagination Controls ---------------------- */
.pagination{
	clear: both;
	margin: 0px 0px 10px 0px;
	
	padding: 10px;
}
.pagination div{
	display: inline;
}
.pagination #prev{
	float: left;
	padding: 5px;
}
.pagination #next{
	float: left;
	padding: 5px;
	margin-left: 5px;
}
.pagination span{
	list-style-type: none;
	padding-bottom: 1px;
	margin: 0px;
	float: left;
	padding: 5px 0px;
	margin-left: 5px;
}
.pagination .disabled{
	color: #ccc;
	float: left;
	border: 1px solid #ccc;
}
#pagination_details{
	float: right;
}
.pagination a, .pagination a:visited{
	padding: 5px 8px 5px 8px;
	text-decoration: none; 
	color: #666;
	background: #e6e6e6;
}

.pagination a:hover, .pagination a:active{
	color: #fff;
	background: #666;
}

.pagination span.current{
font-weight: bold;
cursor: default;
color: #fff;
	background: #666;
	padding: 5px 8px 5px 8px;
}

.pagination a.disablelink, .pagination a.disablelink:hover{
color: #666;
font-weight: normal !important;

}

.pagination a.prevnext{
font-weight: bold;
}

.paginationstatus{
	width: 400px;
	float: right;
	text-align: right;
	margin-top: 20px;
}


/* ---- Flash Messages ---- */

#flashMessage{
	position: absolute;
	z-index: 1000;
	top: 0px;
	left: 35%;
	width: 30%;
	background: #A6E83D;
	padding: 10px 10px 10px 10px;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#A6E83D), to(#94CC29));
	background: -webkit-linear-gradient(#A6E83D, #94CC29);
	background: -moz-linear-gradient(#A6E83D, #94CC29);
	background: -ms-linear-gradient(#A6E83D, #94CC29);
	background: -o-linear-gradient(#A6E83D, #94CC29);
	background: linear-gradient(#A6E83D, #94CC29);
	font-size: 1.2em;
	text-shadow: #D2ED9F 1px 1px 0px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	text-align: center;
}

#flashMessage.flash_failure{
	background: #ED2127;
	text-shadow: #fff 0px 0px 0px;
	color: #fff;
}



/* ----- Expandable Area ----- */

.expandable, .shrinkable{
	display: block;
	width: 15px;
	height: 15px;
	float: left;
	margin: 2px 5px 0px 0px;
	color: #333;
}

.nonexpandable{
	margin-right: 5px;
}

.expandable{
	background: url(expandable.png) no-repeat;
}

.shrinkable{
	background: url(shrinkable.png) no-repeat;
}

.expandable span, .shrinkable span{
	display: none;
}

.expandableList li{
	list-style-type: none;	
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-size: 14px;
}

.expandableList li:hover > .expandableName{
	background: #f2f2f2;
}

.expandableList li li:hover > .expandableName{
	background: #fff;
}

.expandableList li li{
	margin: 0px 0px 0px 20px;
}

.expandableList li ul{
	clear: both;
	margin: 0px;
}

.expandableName{
	padding: 7px 3px 5px 6px;
	background: #e6e6e6;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	color: #333;
}

.expandableActions{
	float: right;
	width: 200px;
	display: inline;
	text-align: right;
}
.placeholder {
	border: 1px dashed #4183C4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.mjs-nestedSortable-error {
	background: #fbe3e4;
	border-color: transparent;
}



ol.sortable{
	margin: 0px;
	padding: 0;
	list-style-type: none;
	
}

ol.sortable ol {
	padding-left: 30px;
}

.sortable li {
	margin: 5px 0 0 0;
	padding: 0;
	color: #333;
	list-style-type: none;
}

.sortable li div  {
	border: 1px solid #d4d4d4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-color: #D4D4D4 #D4D4D4 #BCBCBC;
	padding: 6px;
	margin: 0;
	cursor: move;
	background: #f6f6f6;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );

}

.sortableDelete{
	float: right;
	padding: 5px;
}

.sortableEdit{
	float: right;
	padding: 5px;
}


#ajax-status{
	width: 30%;
	background: #A6E83D;
	padding: 10px 10px 10px 10px;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#A6E83D), to(#94CC29));
	background: -webkit-linear-gradient(#A6E83D, #94CC29);
	background: -moz-linear-gradient(#A6E83D, #94CC29);
	background: -ms-linear-gradient(#A6E83D, #94CC29);
	background: -o-linear-gradient(#A6E83D, #94CC29);
	background: linear-gradient(#A6E83D, #94CC29);
	font-size: 1.2em;
	text-shadow: #D2ED9F 1px 1px 0px;
	border-radius: 4px;
	text-align: center;
}
/* Tabs */


dl{}
dt{ margin-bottom: 5px; width: 33%; float: left; background: #F2F2F2; color: #666; padding: 1%; clear: left;}
dd{ margin-bottom: 5px; width: 60%; float: left; background: #F2F2F2; padding: 1%; }


.textButton a, .textButton a:visited{
	display: block;
	width: 150px;
	padding: 5px 10px;
	font-size: 1.2em;
	text-align: center;
	color: #000;
	background: #339933;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#A6E83D), to(#94CC29));
	background: -webkit-linear-gradient(#A6E83D, #94CC29);
	background: -moz-linear-gradient(#A6E83D, #94CC29);
	background: -ms-linear-gradient(#A6E83D, #94CC29);
	background: -o-linear-gradient(#A6E83D, #94CC29);
	background: linear-gradient(#A6E83D, #94CC29);
	
	border: 4px solid #ccc;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin-top: 3px;
}



#loginContainer{
	width: 300px;
	margin: 20px auto;
	
}

#loginContent{
	background: #fff;
	padding: 20px;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#e6e6e6));
	background: -webkit-linear-gradient(#fff, #e6e6e6);
	background: -moz-linear-gradient(#fff, #e6e6e6);
	background: -ms-linear-gradient(#fff, #e6e6e6);
	background: -o-linear-gradient(#fff, #e6e6e6);
	background: linear-gradient(#fff, #e6e6e6);
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.minusButton, .plusButton{
	margin-top: 3px;
}