/* Global reset */
/* Based upon 'reset.css' in the Yahoo! User Interface Library: http://developer.yahoo.com/yui */
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td { margin:0; padding:0 }
table { border-collapse:collapse; border-spacing:0 }
fieldset, img { border:0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal }
ol, ul, li { list-style:none }
caption, th { text-align:left }
h1, h2, h3, h4, h5, h6 { font-size:100% }
q:before, q:after { content:''}
a { text-decoration:none }

/* Global reset-RESET */
/* The below restores some sensible defaults */
strong { font-weight:bold }
em { font-style:italic }
* a { position:relative } /* Gets links displaying over a PNG background */
a img { border:none } /* Gets rid of IE's blue borders */

a, input {
outline-color: invert;
outline-style: none;
outline-width: medium;
}
/*removes the dotted blue line around a tags when selected in firefox*/

@import "font.css";


body {
	font-size: 75%;
	font-family: Helvetica, Arial, sans-serif;
	
} 
html>body {
	font-size: 12px;
}
h1{
	font-size: 2em;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #000;
	line-height: 1.4em;
	margin: 0em 0px;
}

h2{
	font-family: 'CorisandeRegular', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: normal;
	line-height: 1.6em;
	margin: 0.5em 0px 0.75em 0px;
	color: #666;
}
h3 {
	font-family: 'CorisandeRegular', Helvetica, Arial, sans-serif;
	font-size: 2em;
	font-weight: normal;
	line-height: 1.167em;
	margin: 0px 0px 0.6em 0px;
	color: #666;
	padding: 0px 0px 3px 0px;
}

h4{
	font: 1em Helvetica, Arial, sans-serif;
	font-weight: normal;
	line-height: 1.4em;
	margin: 0.6em 0px 0.3em 0px;	
	color: #0EC9E2;
}
p{
	font: 1.1em Helvetica, Arial, sans-serif;
	line-height: 1.6em;
	margin: 0.75em 0px;
	color: #333;
}
ul{
	margin: 0px 0px 1.75em 0px;
}
ol{
	margin: 0px 0px 1.75em 0px;
}
li{
	font: 1em Helvetica, Arial, sans-serif;
	line-height: 1.5em;
	margin-left: 15px;
	list-style-type: disc;
	color: #e6e6e6;
	margin-bottom: 8px;
}
a, a:visited{
	color: #0EC9E2;
	text-decoration: none;
}
a:hover, a:visited:hover{
	color: #EA13AD;
	text-decoration: none;
}





table{
	width: 100%;
	border-collapse:collapse;
	border: 1px solid #E6E6E6;
	margin: 0px;
}

td, th{
	padding: 0.7em;
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 1.1em;
	line-height: 1.4em;
	vertical-align: top;
	border-bottom: 1px solid #E6E6E6;
}

th a{
	color: #003366;
}

.alt td, .altrow td{
	background: #F2F2F2;
}

tr:hover, tr.alt:hover td, tr.altrow:hover td, tr.highlight, tr.highlight td, tr.highlight td{
	background: #EAF6F7;
}

th{
	background: #C3E4EB;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#C3E4EB), to(#9ED6E0));
	background: -webkit-linear-gradient(#C3E4EB, #9ED6E0);
	background: -moz-linear-gradient(#C3E4EB, #9ED6E0);
	background: -ms-linear-gradient(#C3E4EB, #9ED6E0);
	background: -o-linear-gradient(#C3E4EB, #9ED6E0);
	background: linear-gradient(#C3E4EB, #9ED6E0);
	color: #003366;
	font-weight: bold;
	text-shadow: #fff 1px 1px 0px;
	font-size: 1.2em;
}

.actions a, .actions a:visited{	
	padding: 6px 5px 5px 5px;
	background: #A6E83D;
	color: #333;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: 0.9em;
	line-height: 0.9em;
}

.actions a:hover, .actions a:visited:hover{
	background: #94CC29;
}

.actions a.deleteButton, .actions a.deleteButton:visited{	
	padding: 6px 5px 5px 5px;
	background: #999;
	color: #e6e6e6;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: 0.9em;
	line-height: 0.9em;
}

.actions a.deleteButton:hover, .actions a.deleteButton:visited:hover{
	background: #666;
}